/**
 * index
 */
html,
body{
	height: 100%;
	background:-webkit-linear-gradient(#A5DAEF, #D8E8EC);/* Safari 5.1 - 6.0 */
	background:-o-linear-gradient(#A5DAEF, #D8E8EC);/* Opera 11.1 - 12.0 */
	background:-moz-linear-gradient(#A5DAEF, #D8E8EC);/* Firefox 3.6 - 15 */
	background: linear-gradient(#A5DAEF, #D8E8EC);/* 标准的语法 */
}
#login .container{
    text-align: center;
    background-image: url("../images/logo.jpg");
    background-repeat:  no-repeat;
    background-size: 100px 100px;
    background-position: 17% 28%;
}

#login .container .top{
	padding-top: 150px;
	font-size: 25px;
}
.login-form input{
    border: 1px solid;
    width: 200px;
    height: 30px;
    border-radius: 2px;
    vertical-align: middle;
}
#login .middle{
	width: 300px;
	margin: auto;
	padding-top: 50px;
}
.login-form ul li{
	text-align: center;
	margin-bottom: 10px;
}
.login-form ul li button{
	width: 120px;
	height: 30px;
	border-radius: 2px;
	font-size: 18px;
	background:-webkit-linear-gradient(#A5DAEF, #457ee6);/* Safari 5.1 - 6.0 */
	background:-o-linear-gradient(#A5DAEF, #457ee6);/* Opera 11.1 - 12.0 */
	background:-moz-linear-gradient(#A5DAEF, #457ee6);/* Firefox 3.6 - 15 */
	background: linear-gradient(#A5DAEF, #457ee6);/* 标准的语法 */
	cursor: pointer;
}
.spl{
	height: 0px;
    overflow: hidden;
    display: inline-block;
}
.bottom{
	padding-top: 50px;
}
.bottom p{
	font-size: 12px;
}
.index .middle{
	height: 100%;
}
.index .container .bottom{
	border-top: none;
}

/**
 *dashboard
 */
#dashboard .container{
	text-align: center;
}
.middle {
    padding-top: 10px;
    width: 100%;
    height: 500px;
    text-align: center;
}
.header{
	padding-top: 10px;
	height: 66px;
	background:-webkit-linear-gradient(#457ee6, #5bd1ff);/* Safari 5.1 - 6.0 */
	background:-o-linear-gradient(#457ee6, #5bd1ff);/* Opera 11.1 - 12.0 */
	background:-moz-linear-gradient(#457ee6, #5bd1ff);/* Firefox 3.6 - 15 */
	background: linear-gradient(#457ee6, #5bd1ff);/* 标准的语法 */
}
.header .left,
.header .right{
	float: left;
	height: 100%;
}
.header .left{
	width: 30%;
	text-align: center;
}
.header .right{
	width: 70%;
	text-align: right;
	padding-right: 10px;
}
.header .left .avater{
	width: 50px;
	height: 50px;
}
.border{
	border: 1px solid #60a9ff;
	display: inline-block;
	border-radius: 25px;
	overflow: hidden;
}
.header .user,
.header .logout{
	display: block;
	line-height: 25px;
}
a{
	text-decoration: none;
	cursor: pointer;
}
.nav-bar li{
	float: left;
	border: 1px solid #fff;
	width: 25%;
	height: 30px;
	line-height: 30px;
	background: -webkit-linear-gradient(#85a5e0, #e0f6ff);/* Safari 5.1 - 6.0 */
	background:-o-linear-gradient(#457ee6, #5bd1ff);/* Opera 11.1 - 12.0 */
	background:-moz-linear-gradient(#457ee6, #5bd1ff);/* Firefox 3.6 - 15 */
	background: linear-gradient(#457ee6, #5bd1ff);/* 标准的语法 */
}
.nav-bar li a{
	color: #fff;
	font-size: 15px;
	font-weight: 600;
	display: block;
	cursor: pointer;
	text-align: center;
}

.nav-bar li a:hover{
	background:-webkit-linear-gradient(#85a5e0, #e0f6ff);/* Safari 5.1 - 6.0 */
	background:-o-linear-gradient(#85a5e0, #e0f6ff);/* Opera 11.1 - 12.0 */
	background:-moz-linear-gradient(#85a5e0, #e0f6ff);/* Firefox 3.6 - 15 */
	background: linear-gradient(#85a5e0, #e0f6ff);/* 标准的语法 */
}
.container .bottom {
    padding: 20px 0px;
    text-align: center;
    border-top: 1px solid #ccc;
}


#account .content .title{
	font-size: 20px;
	font-weight: 600;
}
#account .form{
	padding-top: 20px;
}
#account .form li{
	line-height: 30px;
}
#account .middle .avater img{
	width: 100px;
}
#account .avater a{
	display: block;
	border: 1px solid;
	width: 100px;
	margin: auto;
	height: 30px;
	line-height: 30px;
	border-radius: 2px;
	margin-top: 10px;
}
#account .form li label,
#account .form li>span{
	display: block;
	float: left;
	width: 45%;
}
#account .form li label{
	text-align: right;
}
#account .form li>span{
	text-align: left;
}
#account .middle .avater #upAvater{
	background:-webkit-linear-gradient(#A5DAEF, #457ee6);/* Safari 5.1 - 6.0 */
	background:-o-linear-gradient(#A5DAEF, #457ee6);/* Opera 11.1 - 12.0 */
	background:-moz-linear-gradient(#A5DAEF, #457ee6);/* Firefox 3.6 - 15 */
	background: linear-gradient(#A5DAEF, #457ee6);/* 标准的语法 */
	cursor: pointer;
	border: none;
	color: #fff;
	font-size: 15px;
}