<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no" >
	<title>个人面板</title>

	<include file="Common/head" />

</head>
<body>
	<div class="box">
		<div id="history">
			<div class="container">
				<div class="top">

					<include file="Common/header" />
					
				</div>
				<div class="middle">
					<div class="history">
						<div class="title"><span>预约历史</span></div>
						<div class="content">
							<table>
								<thead>
									<tr>
										<th>序号</th>
										<th>预约时间</th>
										<th>医生</th>
										<th>状态</th>
										<th>操作</th>
									</tr>
								</thead>
								<tbody>
									<?php $i=1;foreach($data as $value): ?>
									<tr>
										<td><?php echo $i; ?></td>
										<td><?php echo $value['time']; ?></td>
										<td><?php echo $value['docter']; ?></td>
										<td><?php echo $value['is_active']; ?></td>
										<td><a href="{:U('history/delete', array('id'=>$value['o_id']))}"><span>取消预约</span></a></td>
									</tr>
									<?php $i++;endforeach; ?>
								</tbody>
							</table>
						</div>
					</div>
				</div>
				<div class="bottom">
					<p>Copyright © 2017-2020, 美齐口腔, All Rights Reserved</p>
				</div>
			</div>
		</div>
	</div>
</body>
</html>