/* common ***************************************************************************/
/**
 * 字体
 */
*{
	font-family:微软雅黑,"Microsoft Yahei",arial;
}

/***********************************************************************************/

/**
 * container
 */
.container{
    padding: 0px; 
    min-width: 1024px;
    width: 100%;
}

/**
 * header
 */
.header .header-top{
	height: 50px;
	padding: 0px 30px;
	color: #fff;
    background: url("../images/header_top_bg.gif") repeat-x #425e66;
}
.header .header-top .left{
	float: left;
	width: 50%;
	height: 100%;
}
.header .header-top .right{
	float: right;
	width: 50%;
}
.header .header-top .logo img{
	height: 40px;
	margin-top: 5px;
}
.header .header-top .logo,
.header .header-top .title{
	display: inline-block;
	line-height: 50px;
	height: 100%;
}
.header .header-top .title{
	font-weight: 600;
	font-size: 18px;
	vertical-align: top;
}
.header .header-top .right{
	text-align: right;
}
.header .header-top .right>div{
	display: inline-block;
	line-height: 50px;
}
.separator{
	display: inline-block;
	line-height: 50px;
	margin: 0px 3px;
	color: #9C9C9C;
}
.header .header-top a{
	color: #F1B407;
	text-decoration: underline;
}

/**
 * nav-bar
 */
.nav-bar{
	background: #666e73;
	border-bottom: 1px solid #000;
	border-top: 1px solid #868686;
}
.nav-bar a{
	color: #fff;
	font-size: 15px;
	text-decoration: inherit;
	display: block;
	width: 100%;
}
.nav-bar a:hover{
	color: #ccc;
}
.nav-bar ul{
	display: none;
}
.nav-bar>ul{
	display: block;
	text-align: left;
}
.nav-bar>ul .level0{
	float: left;
	padding: 5px 10px;
	background: url("../images/nav1_sep.gif") no-repeat 0 0;
}
.nav-bar{
	padding: 0px 30px;
}
.nav-bar>ul .level0:hover>ul{
	display: block;
	position: absolute;
	margin-top: 5px;
	margin-left: -10px;
	border: 1px solid #000;
}
.nav-bar>ul .level0:hover>ul a{
	color: #000;
}
.nav-bar>ul .level0 li:hover>ul{
	display: block;
	position: absolute;
	z-index: 9;
	top: 25px;
	left: 42px;
}
.nav-bar .level0 li{
	width: 150px;
	background: #E2ECF5;
	padding: 3px 5px;
	border-bottom: 1px dashed;
}
.nav-bar>ul .level0:hover ul{
	border: 1px solid #000;
}
.nav-bar .level0 li:last-child{
	border-bottom: none;
}


/**
 * 页面标题
 */
.container .middle .top{
	padding: 20px 30px 0px 30px;
}
.container .middle .top .title{
	border-bottom: 4px solid #dfdfdf;
}
.container .middle .top span{
	color: #eb5e00;
	font-size: 16px;
	font-weight: 600;
	line-height: 30px;
}

.min-title{
	font-size: 15px;
	font-weight: 600;
	background: #6f8992;
	line-height: 30px;
	color: #fff;
	padding-left: 10px;
	border: 1px solid #d6d6d6;
}

/**
 * 内容宽度
 */
.container .middle{
	padding: 0px 30px;
}
/**
 * footer宽度 
 */
.footer .footer-box{
	padding: 0px 30px;
}


/*页面结构*******************************************************/

/**
 * 左右结构
 */
.left-right{
	margin: 20px 0px;
	overflow: hidden;
}
.left-right .left{
	float: left;
	width: 210px;
}
.left-right .left ul li{
	padding: 5px 0px 5px 20px;
	border-bottom: 1px dashed #a9a9a9;
	background: url("../images/side_col_bg.gif") repeat-y 207px 0 #D8E6E6;
	font-size: 15px;
	cursor: pointer;
}
.left-right .left ul .title{
	padding-left: 0px;
	font-size: 18px;
	font-weight: 600;
	border-bottom: 1px solid #a9a9a9;
	padding: 0px 0px 10px 0px;
	background:  url("../images/side_col_bg.gif") repeat-y 207px 0 #fff;
	border-right: 1px solid #a9a9a9;
	cursor: initial;
}
.left-right .right{
	margin-left: 210px;
	padding-left: 30px;
}
.left-right .right>ul>li{
	display: none;
}
.left-right .right .active{
	display: block;
}
.left-right .top{
	padding: 0px 0px 0px 0px !important;
	margin-bottom: 30px;
}
.left-right .left ul .active{
	background: #fff;
	border-bottom: 1px solid #a9a9a9;
	border-right: inherit;
	cursor: initial;
}












/**
 * index page
 */
#index .login-form{
	border: 1px solid;
	width: 500px;
	margin: 143px auto 0px;
	border-radius: 5px;
}
#index .site-info{
	text-align: center;
}
#index ul li{
	text-align: center;
}
#index input{
	border: 1px solid;
	padding-left: 30px 
}
#index .header{
	font-size: 25px;
	font-weight: 600;
	margin: 20px 0px;
}
#index .username,
#index .password,
#index .verify{
	margin: 15px;
}
#index input{
	width: 280px;
	height: 36px;
	border-radius: 5px;
}
#index .tools .rememberme,
#index .tools .forget{
	float: left;
	width: 50%;
}
#index .tools .rememberme input{
	width: 20px;
	height: 20px;
	vertical-align: middle;
}
#index .login button{
	width: 280px;
	height: 36px;
	border-radius: 5px;
	cursor: pointer;
}
#index .login{
	margin: 30px 0px;
}


/**
 * add Employee
 */
#addemployee .employee .content ul{
	border: 1px solid #d6d6d6;
	padding-left: 30px;
	font-size: 15px;
	color: #000;
}
#addemployee .employee .content ul li{
	/*line-height: 50px;*/
}
#addemployee .employee .content ul label{
	width:200px;
	display: inline-block;
}
#addemployee .employee .content ul input,
#addemployee .employee .content ul select{
	border: 1px solid ;
	width: 200px;
	height: 25px;
	display: inline-block;
	margin-left: 10px;
}
#addemployee .employee .content ul input{
	margin-left: 14px;
}