<div class="header-top clear">
    <div class="left">
        <div class="logo"><img src="{$Think.config.SKIN}Admin/images/logo.jpg" /></div>
        <div class="title"><?php echo '美齐牙科' ?></div>
    </div>
    <div class="right">
        <div class="user"><?php echo 'user'; ?></div><span class="separator">|</span>
        <div class="time"><?php echo date('Y-m-s H:i:s', time()); ?></div><span class="separator">|</span>
        <div class="logout"><a href=""><span>退出</span></a></div>
    </div>
</div>
<div class="nav-bar">
    <ul class="clear">
        <?php foreach ($menu as $key => $value) :?>
            <li class="level0 <?php echo $value['code']; ?>">
                <a href="<?php echo $value['path']; ?>"><span><?php echo $value['label']; ?></span></a>
                <?php if(!empty($value['low'])): ?>
                    <ul>
                        <?php foreach($value['low'] as $ke => $val): ?>
                            <li class="level1 <?php $val['code']; ?>">
                                <a href="<?php echo $val['path']; ?>"><span><?php echo $val['label']; ?></span></a>
                                <?php if(!empty($val['low'])): ?>
                                    <ul>
                                        <?php foreach($val['low'] as $k => $v): ?>
                                            <li class="level2 <?php echo $v['code']; ?>">
                                                <a href="<?php echo $v['path']; ?>"><span><?php echo $v['label']; ?></span></a>
                                            </li>
                                        <?php endforeach; ?>
                                    </ul>
                                <?php endif; ?>
                            </li>
                        <?php endforeach; ?>
                    </ul>
                <?php endif; ?>
            </li>
        <?php endforeach; ?>
    </ul>
</div>