<link rel="stylesheet" type="text/css" href="{$Think.config.SKIN}Admin/css/reset.css">
<link rel="stylesheet" type="text/css" href="{$Think.config.SKIN}Admin/css/admin.css">
<script type="text/javascript" src="{$Think.config.LIB}jquery.3.1.js"></script>

<!--  plupload  -->
<script type="text/javascript" src="{$Think.config.LIB}plupload/plupload.full.min.js"></script>
<script type="text/javascript" src="{$Think.config.LIB}plupload/sucaihuo.js"></script>

<!--ueditor-->
<script type="text/javascript" src="{$Think.config.LIB}ueditor/ueditor.config.js"></script>
<script type="text/javascript" src="{$Think.config.LIB}ueditor/ueditor.all.js"></script>

<script type="text/javascript" src="{$Think.config.SKIN}Admin/js/custom.js"></script>
<link href="//netdna.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">