<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<title>控制面板</title>

	<include file="Common/head" />

</head>
<body>
	<div id="dashboard">
		<div class="container">
			<div class="box">
				<div class="header">
					<include file="Common/header"/>					
				</div>
				<div class="middle">
					<div class="top">
						<div class="title"><span>控制面板</span></div>
					</div>
					<div class="content">
						ss
					</div>
				</div>
				<div class="footer">
					<include file="Common/footer"/>
				</div>
			</div>
		</div>
	</div>
</body>
</html>