<link rel="stylesheet" type="text/css" href="{$Think.config.SKIN}Home/css/reset.css">
<link rel="stylesheet" type="text/css" href="{$Think.config.SKIN}Home/css/index.css">
<script type="text/javascript" src="{$Think.config.LIB}jquery.3.1.js"></script>

<!--  plupload  -->
<script type="text/javascript" src="{$Think.config.LIB}plupload/plupload.full.min.js"></script>
<script type="text/javascript" src="{$Think.config.LIB}plupload/sucaihuo.js"></script>

<script type="text/javascript" src="{$Think.config.LIB}laydate/laydate.js"></script>