<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no" >
	<title>个人面板</title>

	<include file="Common/head" />

</head>
<body>
	<div class="box">
		<div id="dashboard">
			<div class="container">
				<div class="top">

					<include file="Common/header" />
					
				</div>
				<div class="middle">
					<div class="docter">
						<div class="title"><span>医师列表</span></div>
						<div class="content">
							<ul>
								<?php foreach($data as $value): ?>
								<li>
									<div class="left">
										<img src="<?php echo $value['avater']; ?>" />
									</div>
									<div class="right">
										<div class="name"><?php echo $value['name']; ?></div>
										<div class="content"><?php echo html_entity_decode($value['brief']); ?></div>
										<div class="date"><?php echo $value['name']; ?></div>
									</div>
								</li>
								<?php endforeach; ?>
							</ul>
						</div>
					</div>
				</div>
				<div class="bottom">
					<p>Copyright © 2017-2020, 美齐口腔, All Rights Reserved</p>
				</div>
			</div>
		</div>
	</div>
</body>
</html>